@model TheAMTeam.Business.Models.ContactModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutTeo.cshtml";
}

<h2>Edit the user @Model.Name</h2>

@using (Html.BeginForm("Update", "ContactUs", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(x => x.Id)
    </div>
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <br>
    <div>
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.Phone)
        @Html.ValidationMessageFor(x => x.Phone)
    </div>
    <br>
    <div>
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <br>
    <div>
        <label>Department</label>
        @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"))
    </div>
    <br>
    <div>
        <label>User's message</label>
        @Html.TextBoxFor(x => x.UserMessage)
        @Html.ValidationMessageFor(x => x.UserMessage)
    </div>
    <br>
    <div>
        <label>Message's Date (Month/Day/Year)</label>
        @Html.TextBoxFor(x => x.MessageDate, "{0:MM-dd-yyyy}")
        @Html.ValidationMessageFor(x => x.MessageDate)
    </div>

    <br>
    <input type="submit" value="Submit form" />
}

<h5>@Html.ViewBag.ErrorMessage</h5>

