@model TheAMTeam.Business.Models.ContactModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutTeo.cshtml";
}

<h2>Edit the user @Model.Name</h2>

@using (Html.BeginForm("Update", "ContactUs", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(x => x.Id)
    </div>
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.Phone)
    </div>
    <div>
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email)
    </div>
    <div>
        <label>Department</label>
        @Html.DropDownListFor(x => x.DepartmentId, new SelectList(Model.Departments, "Id", "Name"))
    </div>
    <div>
        <label>User's message</label>
        @Html.TextBoxFor(x => x.UserMessage)
    </div>

    <br>
    <input type="submit" value="Submit form" />
}

