@model IEnumerable<TheAMTeam.Business.Models.ContactModel>
@{
    Layout = "~/Views/Shared/_LayoutTeo.cshtml";
}

<h1>Contact Us</h1>

<br>

<input type="button" value="Add a new Entry" onclick="location.href='@Url.Action("Add", "ContactUs")'" />

<br>
<br>

@using (Html.BeginForm("Index", "ContactUs", FormMethod.Post))
{
    <input type="text" placeholder="Search a contact" name="searchString" />
    <br />
    <input type="submit" value="Search" />
    <input type="button" value="Show All" onclick="location.href='@Url.Action("Index", "ContactUs")'" />
    <br />
}

_______________________________________________________
<br>
<br>

<h2>@ViewBag.Message</h2>

<br>
<br>

@foreach (var item in Model)
{
    <div>
        <p>
            <b>@item.Name</b> : @item.Phone <br>

            In the department: @item.Department.Name <br>

            <i>@item.UserMessage</i><br>

            <small>@item.MessageDate.ToShortDateString()</small>

            <br>
            <br>

            @Html.ActionLink("Edit User", "Edit", "ContactUs", new { id = item.Id }, null)
            @Html.ActionLink("Delete User", "Delete", "ContactUs", new { id = item.Id }, null)
        </p>
        <br>
    </div>

}