@model TheAMTeam.Business.Models.ArticleBussinessModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutArticle.cshtml";
}

@using (Html.BeginForm("EditNew", "Article", FormMethod.Post))
{
    <div>
        <label>Id</label>
        @Html.HiddenFor(x => x.ArticleId)
    </div>
    <div>
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title)
    </div>
    <div>
        <label>Author</label>
        @Html.TextBoxFor(x => x.Author)

    </div>

    <div>
        <label>Content</label>
        @Html.TextBoxFor(x => x.Content)

    </div>
    <div>
        <label>Image URL</label>
        @Html.TextBoxFor(x => x.ImageURL)
    </div>
    <div>
        <label>Category id</label>
        @Html.TextBoxFor(x => x.CategoryId)
    </div>
    <input type="submit" value="Edit" />
}


