@model  TheAMTeam.Business.Models.PlayerBusinessModel

@{
    ViewBag.Title = "Add Player";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h1>Add Player</h1>

@using (Html.BeginForm("AddPlayerPostMethod", "Player", FormMethod.Post))
{
    <div>
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
        <label>TshirtNO</label>
        @Html.TextBoxFor(x => x.TshirtNO)
    </div>
    <div>
        <label>BirthDate</label>
        @Html.TextBoxFor(x => x.TshirtNO)
    </div>
    <div>
        <label>NationalityId</label>
        @Html.TextBoxFor(x => x.NationalityId)
    </div>
    <div>
        <label>TeamId</label>
        @Html.TextBoxFor(x => x.TeamId)
    </div>
    <div>
        <label>Name Alias</label>
        @Html.TextBoxFor(x => x.NameAlias)
    </div>

    <br />

    <input type="submit" value="Save"/>
    <input type="button" value="Back" onclick="location.href='@Url.Action("GetAll", "Player")'" />


}