@model  IEnumerable<TheAMTeam.Business.Models.PlayerBusinessModel>

@{
    Layout = "/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>Players</h2>
    @*<input type="button" value="Add Player" onclick="location.href='@Url.Action("AddPlayer", "Player")'" />*@
<form action="/Player/GetAll" method="post">

    <input type="text" name="search" placeholder="Search for a player..." />
    <br />
    <input type="submit" value="Search" />
</form>

<table class="table" style="display:block; height:300px; overflow:auto" >
    <thead >
        <tr >
            <th>Name</th>
            <th>Number</th>
            <th>team</th>
            <th>Birth Date</th>
            <th>Name Alias</th>
            <th>Nationality Id</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var player in Model)
        {
        <tr>
            <td>@player.Name</td>
            <td>@player.TshirtNO</td>
            <td>@player.Team.Name</td>  
            <td>@String.Format("{0:dd/MM/yyyy}", player.BirthDate)</td>
            <td>@player.NameAlias</td>
            <td>@player.NationalityId</td>
            <th>
                @Html.ActionLink("Edit", "EditPlayer", "Player", new { id = player.PlayerId }, null)
            </th>
            <th>
                @Html.ActionLink("Delete", "DeletePlayer", "Player", new { id = player.PlayerId }, null)
            </th>
        </tr>
        }
    </tbody>

</table>



