@model IEnumerable<TheAMTeam.Business.Models.CompetitionTypeModel>
@{
    Layout = "~/Views/Shared/CompetitionLayout.cshtml";
}

<h1>My Competitions</h1>

@using (Html.BeginForm("GetAllSearch", "Competition", FormMethod.Post))
{
    <p>
        <input type="text" placeholder="Search here..." name="search" />
    </p>
    <input type="submit" value="Search" />
}

<p>
    <input type="button" value="Add a Competition" onclick="location.href='@Url.Action("AddComp","Competition")'" />
</p>

@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th>
                @item.CompetitionTypeId
                @item.Name <a href="@Url.Action("Delete", "Competition", new { id = item.CompetitionTypeId }, null)">
                    <img height="18" width="18" src="http://iconshow.me/media/images/Application/Modern-Flat-style-Icons/png/512/Delete.png" />
                </a> <a href="@Url.Action("Edit", "Competition",new { id = item.CompetitionTypeId }, null)">
                    <img height="18" width="18" src="http://icons.iconarchive.com/icons/bokehlicia/pacifica/256/system-software-update-icon.png" />
                </a>
            </th>
        </tr>
    </table>
}
    <form action="/" method="get">
        <input type="submit" value="Back to Main Page" />
    </form>